# Format reference only. Do not use this file as working configuration.
# Run tools/init_env.py to create independent secrets; there is no default password.
ESP_SESSION_SECRET=''
ESP_OWNER_PASSWORD_HASH=''
ESP_PUBLIC_ORIGIN='https://esp.example.com'
ESP_DB_PATH='/data/esp.sqlite3'
ESP_COOKIE_SECURE='1'
